@import "./color_schemes/light";

.logo {
    display: flex;
    img {
        width: 64px;
        height: 64px;
        padding: 5px;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 5px;
        .top{
            @extend .fs-5;
        }
        .bottom{
            @extend .fs-6;
        }
    }
}