$callout_grey-000: #A9A9A9;
$callout_grey-100: #A0A0A0;
$callout_grey-200: #909090;
$callout_grey-300: #808080;

$callout_brown-000: #804A00;
$callout_brown-100: #704214;
$callout_brown-200: #654321;
$callout_brown-300: #654321;